<% include('layout', { body: null }) %>
<h2>Lista de Usuarios</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Fecha Registro</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% contactos.forEach(contacto => { %>
      <tr>
        <td><%= contacto.nombre %></td>
        <td><%= contacto.correo %></td>
        <td><%= contacto.fecha_registro.toLocaleDateString() %></td>
        <td>
          <a href="/edit/<%= contacto.id %>">Editar</a>
          <a href="/delete/<%= contacto.id %>">Eliminar</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<a href="/add">Agregar Usuario</a>